* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: inline-block;
}

h2 {
    color: red;
    padding: 5px;
}

.first {
    background-color: #157FFB;
    border-radius: 5px;
    width: 50px;
    height: 30px;
    padding: 5px;
    position: relative;
}

.second {
    background-color: #30A64A;
    border-radius: 5px;
    width: 50px;
    height: 30px;
    padding: 5px;
}

.third {
    background-color: #DA3749;
    border-radius: 5px;
    width: 50px;
    height: 30px;
    padding: 5px;
}